#main-logo {
	max-width: 130px;
	height: auto;
	position: relative;
	display: inline-block;
}

/** Top Menu Colors **/
.header-area .main-nav .nav li:last-child a {
  background-color: #9c8d6d;
}

.header-area .main-nav .nav li:last-child a:hover {
  background-color: #005500;
}

.header-area .main-nav .nav li:hover a,
.header-area .main-nav .nav li a.active {
  color: #9c8d6d!important;
}

.header-area .main-nav .nav li:last-child a {
	background-color: transparent;
}
.header-area .main-nav .nav li:last-child a:hover {
	background-color: transparent;
}

/** Search bar **/
#searchbar {
	height: 46px;
	padding: 10px 16px;
	font-size: 18px;
	line-height: 1.3333333;
	border-radius: 6px;
	color: #555;
	background-color: #fff;
	background-image: none;
	border: 1px solid #ccc;
	box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
	transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}

/** Heading Colors **/
.section-heading h2 em,
.cta-content h2 em {
	color: #9c8d6d;
}

/** Searchbar area **/
.main-banner {
    position: inherit !important;
}

/** Fixing weird BG highlight on search form **/
.main-banner .caption {
    background:transparent !important;
    
}

/** update searchbar spacing upon showResult **/
.main-banner .caption.singlePage {
    top:70%;
}

/** Show Result Section**/
.showResult {
	position: absolute;
	top: 40%;
}

#movie-info {
    padding-left: 1rem;
    position: realtive;
}

/** Button Colors **/
.main-button a{
	background-color: #8f7d41;
}

.main-button a:hover {
	background-color: #005009;
}

/** Buttons and Tabs **/
#tabs .main-rounded-button a {
	background-color: #005009;
}
#tabs ul .ui-tabs-active a {
color: #8f7d41;
}

/** Movie Poster **/
.poster {
	width: 100%;
	height: auto;
	max-width: 300px;
	position: relative;
	display: inline-block;
    margin: 0 20px 0 0;
	outline: 0;
}

/** Misc. **/
::selection {
	background: #BF8B4B;
	color: #fff;
}

/** movie.html & actor.html **/
.background{
    background-color: #494949;
}

.Title{
    font-size: 52px;
    text-align-last: center;
    color: #9E8D6F;
}

.float-container{
    border: 3px;
    padding: 20px;
}

.float-container .left-container{
    background-color: white;
    width: 15%;
    height: 300px;
    float: left;
    padding: 20px;
    margin-left: 30px;
    border-style: solid;
    border-color: rgb(0, 170, 0);
    border-width: 4px;
}

.float-container .right-container{
    font-size: 15px;
    text-align: left;
    border-style: solid;
    border-color: rgb(0, 170, 0);
    border-width: 4px;
    float: right;
    margin-right: 50px;
    padding: 10px;
    width: 30%;
}

.right-container .section-title{
    font-size: 25px;
    text-align: left;
    color: #9E8D6F;
}

.right-container .info{
    color: white;
}

.float-container .middle-container{
    font-size: 15px;
    text-align: left;
    color: white;
    border-style: solid;
    border-color: rgb(0, 170, 0);
    border-width: 4px;
    float: right;
    margin-right: 100px;
    padding: 10px;
    width: 30%;
    height: 300px;
}

.home-button{
    margin-top: 390px;
    margin-left: 20px;
    width: 60px;
}